<app-digit-button *ngFor="let d of digits" [digit]="d" (click)="digit.emit(d)"></app-digit-button>
<app-special-button [type]="SpecialButtons.DecimalSeparator" (click)="decimalSeparator.emit()" ></app-special-button>
<app-operator-button [operator]="operators.add()" (click)="operator.emit(operators.add())" ></app-operator-button>
<app-operator-button [operator]="operators.subtract()" (click)="operator.emit(operators.subtract())" ></app-operator-button>
<app-operator-button [operator]="operators.multiply()" (click)="operator.emit(operators.multiply())" ></app-operator-button>
<app-operator-button [operator]="operators.divide()" (click)="operator.emit(operators.divide())" ></app-operator-button>
<app-special-button [type]="SpecialButtons.Equals" (click)="equals.emit()" ></app-special-button>
<app-special-button [type]="SpecialButtons.Cancel" (click)="cancel.emit()" ></app-special-button>